body {
    background-color: #ecf1f7;
    min-height: 100vh;
    }
    
    #app {
        min-height: 100vh;
}
.results-grid {
    .card {
        border-color: #dee2e6;
    }
}
.spinner-block {
    height: 100vh;
    align-items: center;
}